body {
    font-family: sans-serif;
    background-color: tomato;
}

h1{
    color: gold;
    text-align: center;
}

img {
    text-align: center;
    height: 600px;
    width: 600px;
}

.a {
    height: 600px;
    width: 600px;
}
